*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bannerMain{
    display: block;
    margin: auto;
    
}
.banner{
    display: flex;
    margin: auto;
    align-items: center;
   
    overflow-x: hidden;
    
   
}
.bannerContent{
    margin-left: -1000px;
}
.bannerParagraph{
    color: rgb(53, 53, 53);
}
.btn{
    margin-top: 15px;
    background-color: orange;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.contentBanner{
    display: flex;
    align-items: center;
    justify-content:space-around ;
    
}
.contentDiscription{
    margin-left: 60px;
    
}
.paragraph{
    margin-top: 15px; 
    margin-bottom: 15px;
    color: #444343;
}
ul li{
    color: #444343;
}
.secondTitle{
    font-size:  35px; 
    text-align: center;
    margin-top: 30px;
}
.iconsContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
.advertiseContainer{
    display: block;
    margin: auto;
    width:550px ;
    margin-top: 50px;
}
.advertise{
    background-image: linear-gradient(to right,rgba(0,0,0,0.75),rgba(0,0,0,0.25)),url(./images/watch.png);
    height: 30vh;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
    object-fit: cover;
   
}
.advertiseContain{
    height:30vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
    color: white;
    
}
footer{
    display: flex;
    align-items: center;
    background-color:black;
    padding: 35px;
    color: white;
    justify-content: space-around;
}
.emailInput{
    padding:15px 20px;
    border-radius: 5px;
    margin-top:10px ;
}



