*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bannerMain{
    display: block;
    margin: auto;
    
}
.banner{
    display: flex;
    margin: auto;
    align-items: center;
   
    overflow-x: hidden;
    
   
}
.bannerContent{
    margin-left: -1000px;
}
.bannerParagraph{
    color: rgb(53, 53, 53);
}
.btn{
    margin-top: 15px;
    background-color: orange;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}